body {
  font-family: sans-serif;
  background: #f8f9fa;
  color: #333;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
h1 {
  color: #007bff;
  margin-bottom: 1rem;
}
a {
  color: #0056b3;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* батырмалар арасында аралық */
  margin-top: 1.5rem;
  justify-content: center; /* орталыққа туралау */
}

.buttons .btn {
  flex-shrink: 0;
}
